# dependencies
/node_modules
/.pnp
.pnp.*

# testing and builds
/coverage
/.next/
/out/
/build

# local files
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dev-server.*.log

# secrets and deployment metadata
.env*
!.env.example
.vercel
